{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
    <ol class="list-group list-group-numbered container">

        {% for author in author_list %}
        <li class="list-group-item list-group-item-action d-flex">
          <div class="col-md-7"><a href="{{ author.get_absolute_url }}">{{ author }}</a></div>
          <div class="col-3">({{ author.date_of_birth }} - {{ author.date_of_death }})</div>
          {% if perms.catalog.can_modify_authors %}
            <div class="col"><a class="btn btn-outline-danger btn-sm" href="{% url 'author-delete' author.id %}">Delete</a></div>
          {% endif %}
        </li>

        {% endfor %}
    </ol>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}
{% endblock %}